.about-container {
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 5rem;
}

.about-bio {
    /* border: 1px solid; */
    line-height: var(--line-height);
    padding: 10px 10px;
    max-width: 500px;
}

.my-image {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    margin-top: 50px;
}

.top-text {
    margin-bottom: 10px;
}

@media (max-width: 760px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }
    .my-image {
        margin-top: 20px;
        
    }
    .hero-image{
        border-bottom: 1px solid;
        background-color: rgba(145, 208, 233, 0.24);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        width: 100%;
        text-align: center;
    }
}