nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-dark);
    overflow: hidden;
}

.nav-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

.nav-side {
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin: 0 10px;
    cursor: pointer;
}

.nav-item:hover {
    color:bisque;
    transition: 0.3s;
}

.brand-name {
    font-size: 20px;
    font-weight: var(--bold-font);
    color: var(--primary-alt);
    cursor: pointer;
}

.hammburger {
    display: none;
}

.active {
    background: var(--primary-color);
}

@media (max-width: 760px) {
   
}