nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-dark);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
}

nav ul {
    display: flex;
    gap: 1.9rem;
} 

nav ul li {
    font-weight: var(--normal-font);
  }

.nav-item {
    color: var(--primary-color);
    font-weight: var(--normal-font);
    font-size: var(--small-font-size);
    cursor: pointer;
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }

  nav a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
.brand-name {
    font-size: 20px;
    font-weight: var(--bolder-font);
    color: var(--primary-color);
    cursor: pointer;
}

.burger-menu {
    color: var(--primary-color);
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}


.active {
    background-color: var(--btn-color);
    color: var(--primary-color);
    padding: 10px 10px;
    border-radius: 5px;
}

@media screen and (max-width: 760px) {
   nav {
    padding: 1.5rem 1rem;
   }

   nav ul {
    position: fixed;
    background-color: var(--primary-dark);
    flex-direction: column;
    top: 79px;
    left: 3%;
    width: 100%;
    height: 55%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }
}