.projects-section {
    padding: 32px 0;
    margin-top: 2rem;
    max-width: 70rem;
    margin: 0 auto;
}

.projects-section h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
}

.projects-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    gap: 4rem;
}

.projects-container h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: var(--bold-font-size);
    margin-top: 20px;
}

.project-card > p {
    text-align: center;
    color: var(--primary-color);
    padding: 5px;
}

.project-details {
    margin-top: 15px;
    font-size: var(--normal-font-size);
    color: var(--primary-color);
    text-align: center;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-conatiner > h2 {
    padding: 5px;
}

.project-title:hover {
    color: var(--secondary-color);
}



/* 
.photo {
    max-width: 31%;
    padding: 0 10px;
} */

/* img {
    width: 100%;
    height: 100%;
    display: block;
} */

/* .project-header-text {
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
}

.project-title {
    color: var(--primary-color);
    font-size: 15px;
    text-align: center;
}

.project-title:hover {
    color: var(--secondary-color);
} */

/* .project-item p {
    padding: 0.4rem;
} */

/* project section image hover effect */

.hover img {
    -webkit-transform: scale(1);
    transform: scale();
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.hover a:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* .project-span {
    text-align: center;
    text-decoration: none;
}

.project-span:hover {
    color: var(--primary-yellow);
} */

@media (max-width: 760px) {
    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .project-details {
        margin-top: 10px;
    }
}