.skills-heading {
    text-align: center;
    font-size: 20px;
}
.skills-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 10px 10px;
    max-width: 55rem;
    margin: auto;
}
.skills-header-text {
    text-align: center;
}

.skill-icon {
    font-size: 70px;
    text-align: center;
    box-shadow: var(--box-shadow);
    margin: 10px;
    padding: 10px;
    border-radius: 11px;
}