@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Roboto Condesed", sans-serif;
}

:root {
    --primary-color: #fff;
    --bg-color: #fcfcfc;
    --primary-alt: #4756df;
    --btn-color: rgb(136, 49, 136);
    --primary-yellow: rgb(182, 182, 130);
    --primary-dark: rgb(27, 26, 26);
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --primary-shadow: #8b8eaf;
    --secondary-color: #ff7235;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* 
.navbar {
    border-bottom: 1px solid #eee;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    margin-top: 15px;
}

/* Header styling */

/* .header-wrapper {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.header-text {
    font-weight: 620;
}

.main-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-info h1 {
    color: var(--primary-yellow);
    text-transform: uppercase;
}

/* Typed text */
/* .typed-text {
    font-size: 2rem;
    color: var(--btn-color);
}

.btn-main-contact {
    border: 1px solid red;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
    padding: 10px 12px;
    color: white;
    margin-top: 2rem;
}

/* Skill Icon */
/* .skill-icon {
    width: 11.875rem;
    height: 11.25rem;
}

/* app media query */
/* @media (max-width: 760px) {
    .skill-icon {
        width: 9.875rem;
        height: 8.25rem;
    }
}     */