@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Fira Sans', "Roboto Condesed", sans-serif;
}

:root {
    --primary-color: #ffff;
    --bg-color: #fcfcfc;
    --btn-color: rgb(69, 185, 79);
    --primary-green: rgb(111, 228, 183);
    --primary-alt: #4756df;
    --primary-dark: rgb(27, 26, 26);
    --box-shadow: 0 3px 7px 0 var(--btn-color);
    --primary-shadow: #8b8eaf;
    --secondary-color: #787fbd;
    --normal-font-size: 14px;
    --bold-font-size: 16px;
    --small-font-size: 11px;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

main {
    background-color: var(--primary-dark);
}
